/* css "reset" */
body, h1, p, span, div, img {
    margin: 0;
    padding: 0;
}

body {
    background: var(--very-dark-blue-body-bg);
    font-size: 16px;
    margin-top: 3rem;
    font-family: "Outfit";
}

:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --very-dark-blue-body-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

.card {
    box-sizing: border-box;
    margin: 0 auto;
    width: 335px;
    height: auto;
    padding: 20px;
    background-color: var(--very-dark-blue-card-bg);
    border-radius: 10px;
    box-shadow: 0 0 1em rgba(0,0,0,0.3);;
}

.content {
    display: grid;
    gap: 20px;
}

.container-image {
    position: relative;
}

.card-main-image {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

.view-icon {
    width: 295px;
    height: 295px;
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,255, 247, 50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
    top: 0;
    border-radius: 10px;
}

.view-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.view-icon:focus {
    opacity: 1;
}

h1 {
    color: var(--white);
    font-weight: 600;
}

h1:hover {
    color: var(--cyan);
    cursor:pointer;
}

h1:focus {
    color: var(--cyan);
}

.description {
    color: var(--soft-blue);
    line-height: 1.6;
}

.price-date {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--very-dark-blue-line);
    padding-bottom: 15px;
}

.price {
    color: var(--cyan);
    font-weight: 600;
}

.date {
    color: var(--soft-blue);
}

.price-date img {
    vertical-align: -3px;
}

.user-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--soft-blue);
}

.user-info img {
    border: 2px solid var(--white);
    border-radius: 50%;
    width: 30px;
}

.user-info span {
    color: var(--white);
    transition: .5s;
}

.user-info span:hover {
    color: var(--cyan);
    cursor: pointer;
}

.user-info span:focus {
    color: var(--cyan);
}

footer {
    text-align: center;
}