:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --transparent-white-h: hsla(0, 0%, 100%, 0.6);
}

* {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: "Inter";
}

/*cores e tipografia*/
html {
    background-color: var(--very-dark-blue);
    color: var(--white);
}

.description, li{
    color: var(--transparent-white-h);
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;    
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
}

.title span {
    color: var(--soft-violet);
    display: inline-block;
    font-size: 2.5rem;
}

.numbers p {
    color: var(--transparent-white-h);
}

.numbers span {
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.image {
    background-color: var(--soft-violet);    
}

main {
    background-color: rgb(28, 25, 56);
}

/*Posicionamentos*/
body {
    margin-top: 20vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1250px;
    margin: 0 auto;
    border-radius: 20px;
}

.container {
    grid-row: 1;
    padding: 80px 100px 70px 70px;
    display: grid;
}

.image {
    grid-column: 2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.image img {
    display: block;
    max-width: 100%;    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: .5;
}

.numbers {
    display: flex;
    gap: 40px;
    align-items: flex-end;
}

@media (max-width: 375px) {

    body {
        margin-top: 10px;
    }

    main {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 20px;
    }

    .container {
        grid-row: 2;
        padding: 30px;
    }

    .image {
        grid-column: 1;
        grid-row: 1;
    }

    .numbers {
        flex-direction: column;
        align-items: center;
    }
    
}